body{
  background-color: #F7F6FC;
  margin: 0;
  padding: 0;
}

.App {
  /* max-width: 1200px; */
 
}

.searchIcon ,.userIcon, .cartIcon{
  width: 20px;
  vertical-align: middle;
}

.navMenu{
  
  font-size: 14px;
  padding-left: 10rem;
}

.navMenu ul{
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navMenu li{
  padding: 0 12px;
}

.navShop ul{
  list-style: none;
  display: flex;
  padding-left: 0;
  /* justify-content: flex-end;
  width: 100%; */
}

.navShop li {
  padding: 0 12px;
  vertical-align: middle;
}
.navShop {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.navBar {
  width: 100%;
  display: flex;
  align-content: center;
}


a{
  text-decoration: none;
  color: #000000;
}

.ModelLists ul{ 
  list-style: none;
  text-align: right;
}

.social ul{
  list-style: none;
}

/* Intro Section  */


.Intro{
  display: grid;
  grid-template-columns: 540px auto;
}

.ModelLists{
  display: flex;
}

.Heros{
  padding-left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.small-title{
  display: flex;
}
.number{
  padding-right: 77px;
  color: rgb(160, 23, 23);
  position: relative;
}
.number::after{
  content: "";
  background-color: rgb(160, 23, 23);
  position: absolute;
  display: block;
  height: 1px;
  width: 40px;
  top: 10px;
  left: 36px;
}

.title, .title-small{
  text-align: left;
}
.title{
  font-size: 45px;
  padding-left: 100px;
}
.title-small{
  color:rgb(160, 23, 23);
}


.discover{
  border-bottom: solid 3px #000000;
  margin-left: 100px;
}





/* Model Lists */

.small-menu{
  display: flex;
  align-content: center;
}
.small-menu ul{
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.noActiveSmall a{
  color: gray;
}

.activeSmall{
  padding-right: 5px;
  border-right: solid 3px rgb(218, 29, 29);
}

.social img{
  width: 20px;
  
}

.socialMediaIcon{
  
}

.social{
  display: flex;
  position: absolute;
  /* left:  20px; */
  flex-direction: column;
  align-content: end;
  padding-left: 20px;
}

.social ul{
  padding-left: 0;
}



